*{
margin:0;
padding: 0;
font-size: 106%;
}
  
  .header {
    background-color: #333;
    color: white;

  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .pizza{
   padding-bottom: 20px;

  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  



  .sections div{
margin-top: 30px;
  }

  .contact{
margin-top: 40px;

  }


  img {
    max-width: 100%;
    border-radius: 10px;
    border: 4px ;
    margin-top: 40px;
  }
  
  form {
    width: 100%;
  }
  



  input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  button {
    background-color: #ff9900;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  footer ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
    